<div class="body-grilla ps-5 pe-5 pb-5 rounded-4 m-5">

    <section class="d-flex justify-content-end align-items-center  mt-5">

        <h1 class="titulo text-white">Géneros</h1>
        <button class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-plus svg-icon w-25 fs-3"></i>
            <span class="lable">Crear</span>
        </button>

    </section>


</div>


<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (generoInfo of dataGeneros; track generoInfo._id) {
        <tr>
            <td>{{generoInfo.nombre}}</td>
            <td>
                <button>Editar</button>
                <button>Eliminar</button>
            </td>
          </tr>
      }

    </tbody>
  </table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <app-formulario-generos></app-formulario-generos>
        </div>
      </div>
    </div>
  </div>
