<div class="body-grilla rounded-top-4 mt-5">

    <section class="d-flex justify-content-between align-items-center  p-3">

        <h1 class="titulo text-white">Géneros</h1>
        <button class="button " (click)="alerta_crear()">
            <i class="fa-solid fa-plus svg-icon w-25 fs-3"></i>
            <span class="lable"></span>
        </button>

    </section>
</div>

<section class="rounded-bottom-4 bg-white mt-3">
    <div class="d-flex justify-content-between">
        <p class="fs-5">Genero de ejemplo</p>

        <div>
            <i class="fa-regular fa-pen-to-square fs-3"></i>
            <i class="fa-regular fa-trash-can fs-3"></i>
        </div>
    </div>

</section>