<div id="body-login">
    <div class="conta">
        <div class="class_login">
            <div id="borde-login">
                <p>Login</p>
                <form class="form_margin">
                    <input type="email" name="email" placeholder="Email" required />
                </form>
                <form class="form_margin">
                    <input type="password" name="pswd" placeholder="Password" required/>
                </form>
                <button class="btn-inicio-crearCuenta btn-inicio-sesion" routerLink=""><a href=""><b>Iniciar Sesion</b></a></button>                    
                <button class="btn-inicio-crearCuenta separacion-btn" routerLink="registro"><a href="registro"><b>Crear cuenta</b></a></button>
            </div> 
        </div>
    </div>
</div>

