<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login y Registro</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        
    </head>
    <body id="body-login">
        <div class="conta">
            <div class="class_login">
                <div id="borde-login">
                    <p>Ingresar</p>
                    <form class="form_margin">
                        <input type="email" name="email" placeholder="Email" required="" />
                    </form>
                    <form class="form_margin">
                        <input type="password" name="pswd" placeholder="Password" required=""/>
                    </form>
                    <button class="btn-inicio-crearCuenta">Iniciar Sesion</button>                    
                    <button class="btn-inicio-crearCuenta separacion-btn" routerLink="registro"><a href="registro"><b>crear cuenta</b></a></button>
                    
                </div> 
            </div>
        </div>

        <!-- <script src="path/to/bootstrap.bundle.min.js"></script> -->
    </body>
</html>
