
    <body id="body-login">
        <div class="conta">
            <div class="class_login">
                <div id="borde-login" class="rounded-5">
                    <p class="text-center fw-bold fs-4">Inicia sesíon</p>

                    <form class="form mb-4">
                        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"  required=""/>
                    </form>

                    <form class="form mb-4">
                        <input type="password" name="pswd" class="form-control" id="exampleFormControlInput1" placeholder="Password"  required=""/>
                    </form>
                    <button class="btn bg-white btn btn-inicio-crearCuenta btn-inicio-sesion me-4" routerLink=""><a href=""><b>Iniciar Sesion</b></a></button>
                    <button class="btn bg-white btn-inicio-crearCuenta separacion-btn" routerLink="registro"><a href="registro"><b>Crear cuenta</b></a></button>
                </div>
            </div>
        </div>

        <!-- <script src="path/to/bootstrap.bundle.min.js"></script> -->
    </body>

