<section>

    <div class="row">
        <div class="col-6">
            <div class="card w-50 h-100 ms-5 mt-5 rounded-4" id="div-card">

                <article class="d-flex align-items-center mt-5 flex-column">
                    <img src="https://via.placeholder.com/50x50" class="rounded-circle w-25">
                    <button id="btn-message" class="button-message mt-4">
                        <div class="content-avatar">
                            <div class="status-user"></div>
                            <div class="avatar">
                                <svg class="user-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M12,12.5c-3.04,0-5.5,1.73-5.5,3.5s2.46,3.5,5.5,3.5,5.5-1.73,5.5-3.5-2.46-3.5-5.5-3.5Zm0-.5c1.66,0,3-1.34,3-3s-1.34-3-3-3-3,1.34-3,3,1.34,3,3,3Z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="notice-content">
                            <div class="username">Jessica Sanders</div>
                            <div class="lable-message">Message<span class="number-message">3</span></div>
                            <div class="user-id">jessisanders</div>
                        </div>
                    </button>

                    <button class="button mt-4" style="vertical-align:middle"><span>Ajustes</span></button>

                    <div id="list-example" class="list-group">
                        <a class="list-group-item list-group-item-action mt-4" id="btn-href-1" href="#list-item-1">Item 1</a>
                    </div>


                    <article>
                    </article>
                </article>
            </div>



            <div id="div-card-api" class="list-group card w-50 h-100 ms-5 mt-5 rounded-4">
                <div  data-bs-target="#list-example"
                    class="scrollspy-example" tabindex="0">
                </div>

                <h4 id="list-item-1" >Item 1</h4>

            </div>

        </div>
    </div>






</section>