<div id="body">    
    <div class="row">        
        <div class="card col-md-3 margenes-card" style="width: 18rem;">
            <img src="assets/images/img/img-inicio/reggae.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kafu Banton</h5>
                <p class="card-text">Morena</p>
                <a href="https://youtu.be/QuNz2b8RUp4" class="btn btn-primary">Ver videos</a>
            </div>
        </div>
        <div class="card col-md-3 margenes-card" style="width: 18rem;">
            <img src="assets/images/img/img-inicio/reggae.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Navigator</h5>
                <p class="card-text">Ragga Tonseh</p>
                <a href="https://youtu.be/4HWMkLqlg_w" class="btn btn-primary">Ver video</a>
            </div>
        </div>
        <div class="card col-md-3 margenes-card" style="width: 18rem;">
            <img src="assets/images/img/img-inicio/reggae.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bob marley</h5>
                <p class="card-text">Is This Love</p>
                <a href="https://youtu.be/CHekNnySAfM" class="btn btn-primary">Ver video</a>
            </div>
        </div>
        <div class="card col-md-3 margenes-card" style="width: 18rem;">
            <img src="assets/images/img/img-inicio/reggae.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Inner circle</h5>
                <p class="card-text">Sweat (A La la Long)</p>
                <a href="https://youtu.be/uc2UEfWjvo8" class="btn btn-primary">Ver video</a>
            </div>
        </div>
    </div>
    
    <a href="" class="btn btn-primary regresar"><b>Pagina principal</b></a>
</div>




