<p>genero-pop works!</p>
<div>
    <p>Listado...</p>
    <img src="assets/images/img/audifonos-removebg-preview.png" alt="">
</div>

<p class="p-titulo">POP</p>
<div class="row">        
    <div class="card col-md-3 margenes-card" style="width: 18rem;">
        <img src="assets/images/img/michael jackson/michael jackson.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">michael jackson</h5>
            <p class="card-text">Michael Jackson - You Rock My World (Official Video)</p>
            <a href="https://youtu.be/1-7ABIM2qjU" class="btn btn-primary">Ver videos</a>
        </div>
    </div>
    <div class="card col-md-3" style="width: 18rem;">
        <img src="assets/images/img/michael jackson/mj-3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">MICHAEL JACKSON</h5>
            <p class="card-text">Billie Jean (Official Video)</p>
            <a href="https://youtu.be/Zi_XLOBDo_Y?t=1" class="btn btn-primary">Ver video</a>
        </div>
    </div>
    <div class="card col-md-3" style="width: 18rem;">
        <img src="assets/images/img/michael jackson/michael jackson.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">MICHAEL JACKSON</h5>
            <p class="card-text">MICHAEL JACKSON</p>
            <a href="https://youtu.be/hgAOJ7Dw6WE" class="btn btn-primary">Ver video</a>
        </div>
    </div>
    <div class="card col-md-3" style="width: 18rem;">
        <img src="assets/images/img/michael jackson/mj-3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Michael Jackson</h5>
            <p class="card-text">They Don’t Care About Us (Brazil Version) (Official Video)</p>
            <a href="https://youtu.be/QNJL6nfu__Q" class="btn btn-primary">Ver video</a>
        </div>
    </div>