<form [formGroup]="formArtista" (ngSubmit)="sendFormulario()">
    <div class="mb-3">
        <label for="txtArtista" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="txtArtista" formControlName="nombre">
    </div>
    <div class="mb-3">
        <label for="txtArtista" class="form-label">Edad</label>
        <input type="text" class="form-control" id="txtArtista" formControlName="edad">
    </div>
    <div class="mb-3">
        <label for="txtArtista" class="form-label">País</label>
        <input type="text" class="form-control" id="txtArtista" formControlName="pais">
    </div>
    <div class="mb-3">
        <label for="txtArtista" class="form-label">Nombre artista</label>
        <input type="text" class="form-control" id="txtArtista" formControlName="nombre_artista">
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
ss