@if(!admin){

<div class="body-grilla ps-5 pe-5 pb-5 rounded-4 m-5">

    <section class="row">

        <div class="card col-12 mt-5 rounded-4 card-1 p-0">
            <img src="/assets/images/img/img-banner-rolapi.png" class="rounded-3">

        </div>

    </section>



    <section class="row">
        <div class="col-8 mt-5">

            <main class="row">
                <div class="card col-5 me-5 mb-2 rounded-4 color-card p-0">
                    <img src="/assets/images/img/reggeyton.png" class="rounded-4 " routerLink="/genero-reggaeton">
                </div>

                <div class="card col-5 rounded-4 color-card p-0 ro">
                    <img src="/assets/images/img/electronic.png" class="rounded-4 " routerLink="genero-electronica">
                </div>

                <div class="card col-5 color-card mt-4 p-0 rounded-4">
                    <img src="/assets/images/img/popular.png" class="rounded-4 " routerLink="genero-popular">
                </div>

                <div class="card col-5 ms-5 color-card mt-4 p-0 rounded-4">
                    <img src="/assets/images/img/vallenato.png" class="rounded-4 " routerLink="genero-vallenato">
                </div>

            </main>
        </div>


        <div class="card col-4 mt-5 rounded-4 container-largo p-0">
            <img src="/assets/images/img/img-banner-artistas.png" alt="">
        </div>



    </section>
</div>


}@else {


<div class="body-grilla ps-5 pe-5 pb-5 rounded-4 m-5">

    <section class="d-flex justify-content-center align-items-center mt-5 flex-column">

        <div class="bg-white rounded-4 w-100">
            <p class="text-center fw-bold fs-3 mt-2">
                Bienvenido al panel de administracion
            </p>
        </div>

        <div class="bg-white rounded-4 mt-5">
            <p class="fw-semibold fs-5 text-center p-5">En este apartado podras encontrar y usar los metodos que hay para crear, leer, actualizar y borrar. (CRUD)</p>
        </div>

    </section>


</div>








}