.body-grilla{
width: 60%;
height: 50pc;
margin-top:10%;
background-color: #000000bd;
}


.container-largo{
   height: 34pc;
   background-color: #D9D9D9;
}


.color-card{
   background-color: #D9D9D9 ;
}

