* {
    overflow: hidden;
}

.body-grilla {
    background: #111111;
}


.container-largo {
    background-color: #D9D9D9;
    /*height: fit-content;*/
}


.color-card {
    background-color: #D9D9D9;
    height: fit-content;
}



/* Inicio vista AD */
.titulo {

    margin-right: 210px;


}

/* Boton crear */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 16px;
    height: 40px;
    width: 150px;
    border: none;
    background-color: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
}

.lable {
    margin-top: 1px;
    font-size: 19px;
    line-height: 22px;
    color: #0a0a0a;
    font-family: sans-serif;
    letter-spacing: 1px;

}

.button:hover {
    background: #41523f;
}

.button:hover .svg-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-8deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(8deg);
    }

    100% {
        transform: rotate(0deg);
    }
}