* {
    overflow: hidden;
}

.body-grilla {
    background: #111111;
}


.container-largo {
    background-color: #D9D9D9;
    /*height: fit-content;*/
}


.color-card {
    background-color: #D9D9D9;
    height: fit-content;
}

.img-hover {
    transition: transform 0.3s ease;

}

.img-hover:hover {
    opacity: 90%;
    transform: scale(0.9);
    z-index: 1;
}