<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Bootstrap demo</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

   <div class="container  rounded-5 body-grilla ps-5 pe-5 mb-5">



      <section class="row">

         <div class="card col-12 mt-5 bg-black">

            <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                  additional
                  content. This content is a little bit longer.</p>
            </div>
         </div>

      </section>



      <section class="row">
         <div class="col-8 mt-5">

            <main class="row">
               <div class="card col-5 me-5 mb-2 color-card">
                  <div class="card-body">
                     <h5 class="card-title">Card title</h5>
                     <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                  </div>
               </div>


               <div class="card col-5 color-card">
                  <div class="card-body ">
                     <h5 class="card-title">Cardd dtitle</h5>
                     <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content.</p>
                  </div>
               </div>

               <div class="card col-5 color-card mt-4">
                  <div class="card-body ">
                     <h5 class="card-title">Cddard title</h5>
                     <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content.</p>
                  </div>
               </div>

               <div class="card col-5 ms-5 color-card mt-4">
                  <div class="card-body ">
                     <h5 class="card-title">Card fftitle</h5>
                     <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                  </div>
               </div>

            </main>
         </div>


         <div class="card col-4 mt-5 container-largo">
            <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                  additional
                  content. This content is a little bit longer.</p>
            </div>
         </div>



      </section>












   </div>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
</body>

</html>
