<section class="d-flex justify-content-center">

    <div class="body-grilla ps-5 pe-5 pb-5 rounded-4 m-5">

        <div class="row row-cols-1 row-cols-md-3 g-3 mt-5">
            <div class="col">
            <a href="https://www.youtube.com/watch?v=FdmviBO8Fss">
            <div class="card">
                <div class="card-info">

                    <p class="title">Escuchar</p>

                </div>
            </div>
        </a>
        </div>
        <div class="col">
            <a href="https://www.youtube.com/watch?v=eP7XX6YtUqo">
            <div class="card">
                <div class="card-info">
                    <p class="title">Escuchar</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="https://www.youtube.com/watch?v=Sr2D5YwJKCk">
            <div class="card">
                <div class="card-info">
                    <p class="title">Escuchar</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="https://www.youtube.com/watch?v=PjsoP-O9EtQ">
                <div class="card">
                    <div class="card-info">
                        <p class="title">Escuchar</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="https://www.youtube.com/watch?v=7J6xA1_f8as">
                <div class="card">
                    <div class="card-info">
                        <p class="title">Escuchar</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="https://www.youtube.com/watch?v=-Ifp24hgSM8">
                <div class="card">
                    <div class="card-info">
                        <p class="title">Escuchar</p>
                    </div>
                </div>
            </a>
        </div>
    </div>




</div>
</section>