* {
    overflow: hidden;
}


a{
    text-decoration: none;
   color: none;
}


.body-grilla {
    background: #111111;
}


.container-largo {
    background-color: #D9D9D9;
    /*height: fit-content;*/
}


.color-card {
    background-color: #D9D9D9;
    height: fit-content;
}

/*------ Settings ------*/
.container {
    --color: #a5a5b0;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
    max-width: 30px !important;
}

.container .play {
    position: absolute;
    animation: keyframes-fill .5s;
}

.container .pause {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
}

/* ------ On check event ------ */
.container input:checked~.play {
    display: none;
}

.container input:checked~.pause {
    display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
    0% {
        transform: rotate(-180deg) scale(0);
        opacity: 0;
    }

    50% {
        transform: rotate(-10deg) scale(1.2);
    }
}

.width-cancion{
    width: 200px;
}


/* estilo card */

.card {
 --background: linear-gradient(to left, #41523f 0%,  #D9D9D9 100%);
 width: 190px;
 height: 254px;
 padding: 5px;
 border-radius: 1rem;
 overflow: visible;
 background: #D9D9D9;
 background: var(--background);
 position: relative;
 z-index: 1;
}

.card::after {
 position: absolute;
 content: "";
 top: 30px;
 left: 0;
 right: 0;
 z-index: -1;
 height: 100%;
 width: 100%;
 transform: scale(0.8);
 background: #D9D9D9;
 background: var(--background);
 transition: opacity .5s;
}

.card-info {
 --color: #181818;
 background: var(--color);
 color: var(--color);
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
 overflow: visible;
 border-radius: .7rem;
}

.card .title {
 font-weight: bold;
 letter-spacing: .1em;
}

/*Hover*/
.card:hover::after {
    opacity: 0;
}

.card:hover .card-info {
    color: #D9D9D9;
    transition: color 1s;
}

