
<div class="body-grilla ps-5 pe-5 pb-5 rounded-4 m-5">





    <section class="row">
        <div class="col-8 mt-5">

            <main class="row">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat in repellendus, aspernatur, ex distinctio molestias deserunt voluptas fugit officia cumque dignissimos, et sint quae corporis nam perferendis. Ipsum, neque quam?
                Blanditiis obcaecati repudiandae enim! Officiis facere hic sint quibusdam, provident fugiat eveniet? Vero aperiam obcaecati ipsum nisi voluptatem voluptatibus, id veniam a fugiat asperiores vitae iusto laudantium, impedit possimus ratione.</p>
            </main>
        </div>




    </section>
</div>

