<header>
    <div id="d-div-button">
        <a routerLint="login" href="login">Iniciar Sesion</a>
        <a routerLint="registro" href="registro">Registarme</a>
    </div>
</header>


<!-- <div class="margin-card">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <audio class="audio-margin" controls src="assets/musica/1. Vallenato/A Ritmo Cha Cun Cha.mp3"></audio>
            
        </div>
    </div>
</div> -->

<!-- <div class="card">
    <img src="ruta/a/la/imagen.jpg" alt="Imagen de la portada del álbum">
    <div class="card-content">
        <h3>Nombre de la canción</h3>
        <p>Autor: Nombre del autor</p>
        <audio controls src="ruta/al/archivo.mp3">
            Su navegador no soporta la etiqueta de audio.
        </audio>
    </div>
</div> -->