<header>
    <div id="d-div-button">
        <a routerLint="login" href="login">Iniciar Sesion</a>
        <a routerLint="registro" href="registro">Registarme</a>
    </div>
</header>


<div class="margin-card">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <source src="assets/musica/1. Vallenato/A Ritmo Cha Cun Cha.mp3">
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>