<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <header class="">
        <div id="d-div-button">
            <a routerLint="login" href="login">Iniciar Sesion</a>
            <a routerLint="registro" href="registro">Registarme</a>
        </div>
    </header>

    <!-- <div>
        <p>Listado...</p>
        <img src="assets/images/img/audifonos-removebg-preview.png" alt="">
    </div> -->

    <!-- <p class="p-titulo">POP</p>
    <div class="row">
        <div class="card col-md-3 margenes-card" style="width: 18rem;">
            <img src="assets/images/img/michael jackson/michael jackson.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">michael jackson</h5>
                <p class="card-text">Michael Jackson - You Rock My World (Official Video)</p>
                <a href="https://youtu.be/1-7ABIM2qjU" class="btn btn-primary">Ver videos</a>
            </div>
        </div>
        <div class="card col-md-3" style="width: 18rem;">
            <img src="assets/images/img/michael jackson/mj-3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">MICHAEL JACKSON</h5>
                <p class="card-text">Billie Jean (Official Video)</p>
                <a href="https://youtu.be/Zi_XLOBDo_Y?t=1" class="btn btn-primary">Ver video</a>
            </div>
        </div>
        <div class="card col-md-3" style="width: 18rem;">
            <img src="assets/images/img/michael jackson/michael jackson.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">MICHAEL JACKSON</h5>
                <p class="card-text">MICHAEL JACKSON</p>
                <a href="https://youtu.be/hgAOJ7Dw6WE" class="btn btn-primary">Ver video</a>
            </div>
        </div>
        <div class="card col-md-3" style="width: 18rem;">
            <img src="assets/images/img/michael jackson/mj-3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Michael Jackson</h5>
                <p class="card-text">They Don’t Care About Us (Brazil Version) (Official Video)</p>
                <a href="https://youtu.be/QNJL6nfu__Q" class="btn btn-primary">Ver video</a>
            </div>
        </div>

    </div> -->
</body>
</html>