<div id="body-registro">
    <div class="conta">
        <div class="class_registro">
            <div id="borde_registro" class="d-flex flex-column align-items-center justify-content-center rounded-4">
                <p id="p_registro"><b>Registro</b></p>
                <form #formRegistro>
                    <div class="form_margin_registro">
                        <input type="text" name="name" placeholder="Nombres" required [(ngModel)]="name" />
                    </div>
                    <div class="form_margin_registro">
                        <input type="email" name="lastname" placeholder="Apellido" required [(ngModel)]="lastName" />
                    </div>
                    <div class="form_margin_registro">
                        <select class="form-select borde-radius" id="validationDefault04" required [(ngModel)]="gender" placeholder="Seleccione su genero...">
                            <option>Seleccione su genero...</option>
                            <option>Mujer</option>
                            <option>Hombre</option>
                            <option>Otros</option>
                            <option>No prefiero decirlo</option>
                        </select>                        
                    </div>
                    <div class="form_margin_registro">
                        <input type="text" name="date" placeholder="Fecha: Dia-Mes-Año" required [(ngModel)]="dateBirthday" />
                    </div>
                    <div class="form_margin_registro">
                        <input type="email" name="email" placeholder="Correo electronico"  [(ngModel)]="email"/>
                    </div>
                    <div class="form_margin_registro">
                        <input type="password" name="password" placeholder="Contraseña Nueva"  [(ngModel)]="password" />
                    </div>
                    <div class="form_margin_registro">
                        <input type="password" name="password" placeholder="Repita la contraseña" />
                    </div>
                </form>
                <button id="btn-registro" (click)="guadarUsiarios()"><a href="login">Registrarme</a></button>                
            </div>
        </div>
    </div>
</div>

<div>
</div>
