/* REGISTRO */
:host {
	--color-texto:#ffff;
	--color-botton-fondo:#0000ff;
	--color-botton-text:#000;
	--color-body:#1D1D1D;
	--color-negro:#000;
	--color-borde:#AA38A5;
}

#body-registro{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-body);
    overflow-y: auto;
}

.conta{
	padding-bottom: 10px;
	display: flex;
	background-color: transparent;
	margin-top: 50px;
	margin-left: 30%;
}

#borde_registro{
	border: 2px solid var(--color-borde);
    width: 500px;
}

.form_margin_registro{
	margin-bottom: 24px;
}

#p_registro{
	font-family: Arial, Helvetica, sans-serif;
	color: var(--color-texto);
	font-weight: bold;
	text-align: center;
}

#btn-registro{
	margin-left: 32%;
	color: var(--color-texto);
	background-color: var(--color-botton-fondo);
	padding: 5px 10px 10px 10px;
	text-decoration: none;

}

input {
	padding: 10px 100px 10px 10px;
    border-radius: 10px;

}

.borde-radius {
	padding: 10px;

}

select {
	padding-bottom: 10px;
}

#homer{
	width: 392px;
    margin-top: -532px;
	margin-left: 2%;
}